.accordion {
    /*border-bottom: 1px solid #ddd;*/
    /*border-radius: 4px;*/
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #ebebeb;
}
.accordion-item.active {

}
.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    padding: 15px;
    background-color: #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #e9e9e9;
}

.accordion-header h3 {
    margin: 0;
    font-size: 16px;
}

.accordion-icon {
    font-size: 18px;
    font-weight: bold;
}

.accordion-content {
    padding: 15px;
    background-color: #f9f9f9;
}