server:
  port: 8080
  address: 0.0.0.0
spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/aiflowy?useInformationSchema=true&characterEncoding=utf-8
    username: root
    password: 123456
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  web:
    resources:
      # 示例：windows【file: C:\aiflowy\file】 linux【file: /www/aiflowy/file】
      static-locations: file:C:\aiflowy\file
#      static-locations: file:/Users/michael/Desktop/test
  mvc:
    static-path-pattern: /static/**
  quartz:
    startup-delay: 1
    job-store-type: jdbc
    jdbc:
      platform: mysql
      initialize-schema: never
    properties:
      org:
        quartz:
          jobStore:
            misfireThreshold: 1000
            tablePrefix: TB_QRTZ_
          threadPool:
            threadCount: 20
            threadPriority: 5
aiflowy:
  storage:
    type: local
    s3:
      access-key: key
      secret-key: secret
      endpoint: your-endpoint
      region: your-region
      bucket-name: your-bucket-name
      access-policy: 2
      prefix: public
    local:
      # 示例：windows【C:\aiflowy\file】 linux【/www/aiflowy/file】
      root: 'C:\aiflowy\file'
#      root: /Users/michael/Desktop/test
      # 后端接口地址
      prefix: 'http://localhost:8080/static'
#      prefix: http://aiflowy.s7.tunnelfrp.com/static
  ollama:
    host: http://127.0.0.1:11434
  login:
    excludes: /api/v1/auth/**, /static/**
node:
  reader: 'defaultReader'
  gitee:
    appKey: 'xxx'
  # 搜索引擎节点 - 目前只支持博查搜索
  bochaai:
    apiKey: 'xxx'
jetcache:
  # 缓存类型，可选值：local/remote/both CacheConfig 类初始化
  cacheType: local
  statIntervalMinutes: 15
  areaInCacheName: false
  local:
    default:
      type: linkedhashmap
      keyConvertor: fastjson
  remote:
    default:
      type: redis
      keyConvertor: fastjson2
      broadcastChannel: projectA
      valueEncoder: java
      valueDecoder: java
      poolConfig:
        minIdle: 5
        maxIdle: 20
        maxTotal: 50
      host: 127.0.0.1
      port: 6379
      password: pwd
      database: 0
# 多路召回搜索引擎配置
rag:
  searcher:
    # 搜索方式 默认lucene
    # type : elasticSearch / lucene
    type: lucene
    lucene:
      indexDirPath: ./luceneKnowledge
    elastic:
      host: https://127.0.0.1:9200
      userName: elastic
      password: elastic
      indexName: aiflowy
logging:
  file:
    path: .logs/
    name: aiflowy.log
  level:
    root: info
    tech.aiflowy.ai: debug



